.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.moodContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  /* margin:auto; */
  /* gap: 20px; */
}
.verseSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.homeButtonContainer {
  margin: 1rem;
}

.homeButton {
  text-decoration: none;
  color: white;
  background-color: #0070f3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  /* background: url('/images/happy-man.jpg');
  background-position: center; */
}

.natureImage {
  max-width: 100%;
  height: 300px;
  object-fit:cover;
}

.verseSection {
  margin: 1rem 0;
}

.verse {
  font-size: 1.2rem;
  font-weight: 700;
}

.translation,
.ayahNumber {
  font-size: 1rem;
}

.generateButton {
  color: white;
  border: 1px solid rgb(30 41 59);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.bottomBar {
  margin: 2rem 0;
}

.bottomBarTitle {
  font-size: 1.2rem;
}

.bottomBarButtons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.bottomButton {
  color: white;
  border: 1px solid rgb(30 41 59);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.bottomButton:hover,
.generateButton:hover {
  border: 2px solid rgb(30 41 59);
}
